
/* About Me block */
.about-me {
    background-color: brown;
    padding: 5em;
    color: white;
}

.about-heading {
    font-size: 3em;
}

.about-sub-heading {
    font-size: 1.5em;
}

.about-content {
    margin-top: 1em;
    font-size: 1em;
}

.profile-img {
    width: 250px;
    height: 250px;
    border-radius: 125px;
    border: 10px solid #343434;
}

@media (max-width: 991.98px) 
{ 
    .center-md {
        text-align: center;
    }
}

/* Portfolio block */
.portfolio-footer {
    padding-top: 2em;
    padding-bottom: 1em;
    text-align: center;
}

/* Skills block */
.skills {
    padding: 2em;
}

.skill-bg {
    background-color: #111 !important;
}

.skill-fill {
    background-color: brown !important;
}

.skill-item {
    background-color: #222;
    color: white;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #111;
    padding: 2em;
}